MAINNET_RPC_URL=
LOCAL_RPC_URL=http://127.0.0.1:8899
XSTOCK_SYMBOL=AAPLx
XSTOCK_MINT=XsbEhLAtcf6HdfpFZ5xEMdqW8nfAvcsP5bdudRLJzJp
PYTH_AAPL_USD_FEED_ID=0x49f6b65cb1de6b10eaf75e7c03ca029c306d0357e91b5311b175084a5ad55688
PYTH_TSLA_USD_FEED_ID=0x16dad506d7db8da01c87581c87ca897a012a153557d4d578c3b9c9e1bc0632f1
PYTH_PRICE_FEED_ACCOUNT=DJ2FyTgUAkEtXW3U5P9PF19meFTRtW4ZWKKFgACfVbUy
PYTH_TSLA_PRICE_FEED_ACCOUNT=E8WFH8brgP58arcuW2wwsPHiomYrSvrgWTsRLZLAEZUQ
SOLANA_TEST_LEDGER=.anchor/test-ledger
